@using Craftsman.IO
@model Nop.Web.Models.PictureVault.VideoPlayerModel
@{
    Layout = null;

    NopHtml.AddTitleParts("Picture Vault Video");
}
<div class="page">
    <div class="page-body" style="margin: auto;">
        <div class="page-title">
            <h3></h3>
        </div>
        <div class="home-page-bottom-wrapper">
            <video style="width: @(Model.Width)px; height: @(Model.Height)px; left: 0; top: 5px;" controls playsinline autoplay>
                <source src="@Model.VideoUrl" type="@(MimeType.VideoMp4.MimeTypeString)" />
            </video>
        </div>
    </div>
</div>
