@model SearchBoxModel

@using Nop.Core.Domain.Media

@inject MediaSettings mediaSettings

<form asp-route="ProductSearch" method="get" id="small-search-box-form">
    @if (Model.ShowSearchBox)
    {
        <ci-search></ci-search>
    }
</form>