@{
    Layout = "_ColumnsOne";
}

<script type="text/javascript">
    window.location = "/quote-request/bending-and-fabrication-success";
</script>

<h2>Information Request Form</h2>
<br />
