@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts("Error");
}
<div class="page error-page">
    <div class="page-title">
        <h1>Error</h1>
    </div>
    <div class="page-body">
       We&#39;ve encountered an error. Our engineering team has been notified and will have this fixed soon.
    </div>
</div>
